<!-- the name that will be used by Meteor to keep track of what template goes where
    (the name of the actual file is irrelevant -->
<template name="postsList">
    <div class="posts page">
        <div class="wrapper">
            <!-- Spacebars block helper, iterates through each post in posts -->
            <!-- posts is a template helper, think of it as a placeholder for a dynamic value-->
            {{#each posts}}
            <!-- insert the postItem template -->
                {{> postItem}}
            {{/each}}
        </div>

        {{#if nextPath}}
            <a class="load-more" href="{{nextPath}}">Load more</a>
        {{else}}
            {{#unless ready}}
                {{> spinner}}
            {{/unless}}
        {{/if}}
    </div>
</template>